<meta charset="UTF-8">
<title>Youtube Trend Analysis</title>

<!-- CSS load-->
<link rel="stylesheet" href="/static/css/materialize.min.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

