<head>
  <%- include('./partials/head'); %>
</head>

<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="/api/login">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <button class="waves-effect waves-light btn">Login</button>

            <p class="message">Username and password can be found in your configuration.</p>
        </form>
    </div>
</div>
<footer>
  <%- include('./partials/footer'); %>
</footer>